.table td {
  padding: 8px 0px 8px 20px;
  border-bottom: 1px solid #000000;
}

.table tr {
  overflow-x: scroll;
}

.container_checkbox {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 4% 0 6% 0;
}

.container_checkbox label{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.container_checkbox label input{
  width: 20px;
  height: 20px;
}

.input {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.input label input {
  width: 20vw;
  padding: 6px 0 6px 10px;
}

.container_automatic input {
  width: 20vw;
  padding: 6px 0 6px 10px;
  align-self: flex-start;
}

.input label {
  display: flex;
  flex-direction: column;
}

.modal {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  background-color: #ffffff;
  margin: 1% auto;
  align-items: center;
  padding: 30px;
  color: #000000;
  border-radius: 10px;
}

.modal h3{
  margin-bottom: 6%;
}

.modal_title {
  text-align: center;
}

.container_select {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container_manual {
  width: 80%;
}

.container_automatic {
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.container_automatic button{
  margin-top: 5%;
  padding: 2px 0 2px 0;
  height: auto;
}

.container_automatic input{
  margin-top: 10%;
  margin-bottom: 5%;
}

.hide_container_manual{
  display: none;
}

.show_container_manual{
  display: block;
}

.hide_container_automatic{
  display: none;
}

.show_container_automatic{
  display: flex;
}

.container_manual select {
  width: 80%;
}

.container_manual button {
  align-self: flex-end;
  margin-top: 10%;
  padding: 2px 0 2px 0;
  height: auto;
}

.container_buttons {
  display: flex;
}

.container_buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
}

