.container{
  font-family: Gilroy-Light;
  display: flex;
  justify-content: content;
  flex-direction: column;
  padding-top: 10%;
}


.column{
  display: flex;
  flex-direction: row;
}

.containerTable{
  overflow-x: scroll;
  width: 95vw;
  overflow-y: scroll;
  max-height: 400px;
  margin: 10px auto;
}

.table{
  width: 92vw;
  margin: 20px auto;
  overflow: scroll;
  border: none;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.container h1 {
  color: #000000;
  background-color: #f1f1f1;
  width: 99%;
  padding: 20px 0;
  text-shadow: 1px 1px 2px #000000;
  box-shadow: 2px 2px 2px #a0a0a0;
  margin: 10px;
  text-align: center;
  font-size: 32px;
}

.containerSearch{
  display:flex;
  align-items: center;
  
}

.search{
  max-width: 80px;
  margin-left:5px;
}
.table th{
  margin: 1px;
  padding: 20px 0px 20px 20px;
  background-color: #ffcc02;
  box-shadow: 2px 2px 2px #a0a0a0;
  font-family: 'Roboto-bold', sans-serif;
}
.table tr {
  overflow-x: scroll;
}

.containerbutton {
  width: 100%;
  display: flex;
  justify-content: left;
}

.table td {
  padding: 8px 0px 8px 20px;
  border-bottom: 1px solid #000000;
}

tbody tr:hover {
  background-color: #cccccc;
}

.container button {
  display: flex;
  margin: 10px 0;
  box-shadow: 3px 3px 5px #a0a0a0;
  font-size: 18px;
  cursor: pointer;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
  font-family: 'Roboto-bold', sans-serif;
}

#update {
  width: 40px;
  background-color: transparent;
  padding: 2px;
  margin: 2px;
  border: none;
  box-shadow: none;
  color: #1a2818;
  cursor: pointer;
}

#update :hover {
  background-color: none;
  color: red;
}

#delete {
  width: 40px;
  background-color: transparent;
  padding: 2px;
  margin: 2px;
  border: none;
  box-shadow: none;
  color: #1a2818;
  cursor: pointer;
}

#delete :hover {
  color: red;
}

.modal {
  max-width: 600px;
  background-color: #ffffff;
  margin: 1% auto;
  align-items: center;
  padding: 30px;
  color: #000000;
  border-radius: 10px;
  
}
.modal select {
  margin-top: 10px;
  font-family: 'Roboto-bold', sans-serif;
}


.modal input[type="date"]{
  text-align: right;
  font-size: 10px;
  margin-top: 10px;
  font-family: 'Roboto-bold', sans-serif;
}


.modal h3 {
  color: #000000;
  text-align: center;
  font-size: 28px;
  font-family: Gilroy-ExtraBold;
}

.modal button {
  border-radius: 10px;
  background-color: #ffcc02;
  max-width: 170px;
  padding: 8px;
  font-size: 16px;
  box-shadow: 3px 3px 5px #a0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto-bold', sans-serif;
}
.modal label{
  font-family: 'Roboto-bold', sans-serif;
  color: #000000;
}
.modal input[type="text"],[type="emal"], [type="number"]{
  font-family: 'Roboto-bold', sans-serif;
  color: #000000;
}

.modal button:hover {
  background-color: #000000;
  color: #ffcc02;
  max-width: 170px;
  padding: 8px;
  font-size: 16px;
  box-shadow: 3px 3px 5px #a0a0a0;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-around;
  width: 98%;
  margin: 20px auto;
  align-items: center;
}

.containerSearch input {
  min-width: 25vw;
  height: 6vh;
  border: #010101 solid 0.12rem;
  border-radius: 1rem;
  padding: 2px 15px;
  font-family: 'Roboto-bold', sans-serif;
  color: #000000;
}





@media screen and (max-width: 600px) {
  .modal {
    margin: 20px;
  }
  .modal h3 {
    color: #000000;
    text-align: center;
    font-size: 24px;
  }

  .container {
    padding-top: 15%;
  }
  
}
@media screen and (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: auto;
    align-items: center;
  }
}


