/* ------------- LOGIN--------------- */

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  
  }
.container {
  width: 100vw;
  display: flex;
  background-color: #f1f1f1;
  padding-top: 5%;
  flex-wrap: wrap;
  

}

.imagenlogin {
  width: 95%;
  margin-top: 18px;
}
.boximag {
  width: 45%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFCC02;
}

.login {
  min-height: 400px;
  width: 55%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 40px;
  background-color: #fff;
  justify-content: center;
  
}
.logoLogin {
  width: 50%;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}
.loginTitle{
  font-size: 26px;
  display:flex;
  justify-content: center;
  text-align: center;
  color: #000000;
  margin: 30px auto;
  font-family: 'Roboto-bold', sans-serif;
  
}

.containerinput {
  display: flex;
  flex-direction: column;
  gap: 18px 0 !important;
  align-items: center;
  
  
}

.containerinput input{
  margin-bottom: 15px;
  border-radius: 10px;
  width: 50%;
  height:7 vh;
  padding-left: 20px;
}
.form {
  margin-top: 10px;
}

.input-label{
color: #000;
padding-top: 2px;
}

.buttonLogin {
  font-weight: bold;
  background-color: #FFCC02;
  margin: 20px auto;
  padding: 9px;
  width: 100%;
  display: block;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
  justify-content: center;
  font-family: 'Roboto-bold', sans-serif;
}

.button-login:hover {
  
  opacity: 0.8;
  transform: scale(1.1);
  color: rgb(26, 25, 25) !important;
}


.container-login-page a {
  font-size: 14px;
  color: #000;
  font-weight: 600;
 
}

.container-login-page p {
  font-size: 14px;
  cursor: pointer;
  margin: 15px 0;
  font-weight: 600;
}

/* ------------- MEDIA QUERIES --------------- */
@media (max-width: 800px) {
  .container  {
    height: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .form {
    margin-top: 70px;
  }
  .buttonLogin {
    margin: 50px auto 30px auto;
    font-size: 22px;
  }
  .boximag {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCC02;
  }
  .containerinput input{
    margin-bottom: 15px;
    border-radius: 10px;
    width: 70%;
   
    
  }
  
  .login {
    height: 90%;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 40px;
    background-color: #fff;
    justify-content: center;
    
  }
  .logoLogin {
    width: 70%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
}
/* ------------- MEDIA QUERIES --------------- */
@media (max-width: 500px) {
  .buttonLogin {
    margin: 20px auto;
    font-size: 16px;
  }
  .containerinput input{
    margin-bottom: 15px;
    border-radius: 10px;
    width: 90%;
   
    
  }
  
}